// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-grey: #9d9d9d;
$c-red-light: #ffabab;
$c-yellow-heavy: #d08726;
$c-blue-dark: #22418a;
$c-green-light: #c4daef;
$c-blue-light: #f0f8ff;

// FontSize
$fs-h1: 28px;
$fs-h2: 22px;
$fs-h3: 20px;
$fs-h4: 18px;
$fs-base: 16px;
$fs-small: 14px;

// Fonts variables
$ff-main: 'Poppins', sans-serif;
$ff-secondary: 'Mulish', sans-serif;

// Transitions
$t-base: 0.7s;
$t-secondary: 0.3s;

// Shadows
$sh-base: 0px 1px 15px -5px rgba(213, 213, 213, 0.55);
